{{!-- <!DOCTYPE html>
<html>
<body>

<h2>write blog here</h2>

<form action="/blog_write" method="POST">


<label for="username">username:</label><br>
  <input type="text" id="username" name="username" value="Doe" required><br>
  <label for="title">title:</label><br>
  <input type="text" id="title" name="title" value="Doe" required><br>
  <label for="content">content:</label><br>
  <input type="text" id="content" name="content" value="Doe" required><br>
 <label for="author">author:</label><br>
  <input type="text" id="author" name="author" value="Doe" required><br>
  
  
  <input type="submit" value="Submit">
</form> 


</body>
</html> --}}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
<div class="container">
  <div class="nav">
    <img class="logo" src="/Images/logo.svg" alt="logo">
    <h1 class="logo_name">Typoo</h1>


    <div class="LogSin">
        
        <a href="/signin"><button class="signin">Sign in</button></a>
        <a href="/signup"><button class="signup">Sign up</button></a>
  </div>
  </div>

<div class="SignUpForm">

<h2>Write Blog</h2>
<div  class="Form">

  <form action="/blog_write" method="POST">
    <input type="hidden"id="_id" name="_id" value="{{doc._id}}" placeholder={{doc._id}}>
   
    <input type="text" id="username" name="username" placeholder="User Name"  value="{{doc.username}}" autocomplete="off">
    <!-- <label for="last_name">Last name:</label><br> -->
    <input type="text" id="title" name="title" placeholder="Title"  value="{{doc.title}}" autocomplete="off">
    <!-- <label for="email_id">email_id:</label><br> -->
    <input type="text" id="content" name="content" placeholder="Content" value="{{doc.content}}" autocomplete="off">
    <!-- <label for="username">username:</label><br> -->
    <input type="text" id="author" name="author" placeholder="Author Name" value="{{doc.author}}" autocomplete="off">
    <!-- <label for="password">password:</label><br> -->
    
    <input type="submit" value="Add Blog" id="submit">
  </form> 
</div>


</div>

</div>

</body>
</html>
